.brewery {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 5px 10px;
  background-color: var(--dark-background-color);
  border-radius: 1rem;
  font-size: 1.75rem;
  margin-bottom: 10px;
  color: var(--brewery-text-color);

  &__location {
    font-size: 1.25rem;
  }
  &__country {
    color: var(--city-text-color);
  }
}
