.brewery {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 0.4rem 2rem;
  border: 3px solid var(--brewery-border-color);
  background-color: var(--brewery-background-color);
  border-radius: 1rem;
  font-size: 1.75rem;
  margin-bottom: 10px;
  color: var(--brewery-text-color);
  cursor: pointer;
  text-decoration: none;

  // :hover {
  //   .brewery__name {
  //     text-decoration: underline;
  //   }
  // }
  &__location {
    font-size: 1.25rem;
  }
  &__country {
    color: var(--city-text-color);
  }
}
