.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--background-color);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background-image: url("../assets/background.png");
    background-repeat: repeat;
    background-size: contain;
    z-index: 0;
  }
}

.main {
  flex-direction: column;
  flex: 1 1 auto;
  font-family: Poppins;
}
