body {
  --logo-font-color: #ca7c0c;
  --text-yellow-color: #c0802b;
  --background-color: #f0e8c5;
  --dark-background-color: #c7bd91;
  --main-red-color: #d23739;
  --secondary-red-color: #b63b3d;
  --heading-text-color: var(--main-red-color);
  --city-text-color: var(--secondary-red-color);

  --brewery-border-color: var(--dark-background-color);
  --brewery-background-color: #f8f6d2;
  --brewery-text-color: #732b15;

  --button-color: var(--secondary-red-color);
  --button-hover-color: var(--main-red-color);
  --button-text-color: #fff;
}
